.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 3.75rem;
  padding: 0 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}